body{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 0px;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

html{ 
    background: url(../Media/BG_2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: Product-Sans-R;
    src: url(../Font/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: Android;
    src: url(../Font/android.ttf);
}

@font-face {
    font-family: Avenir-Next;
    src: url(../Font/AvenirNext-UltraLight.ttf);
}

.head{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.nav{
    margin: 10px 50px 0px 50px;
}

.logo{
    height: 55px;
    float: left;
}

#logoimg{
    max-height: 100%;
    width: auto;
}

.navbtns{
    float: right;
    display: flex;
}

.search,.menu,.user{
    text-align: center;
    display: inline-block;
    margin: 6px 0px 0px 0px;
}

.searchbtn{
    font-family: 'Product-Sans-R';
    font-size: 22px;
    cursor: pointer;
    color: #205678;
    background: none;
    border: none;
    padding: 5px  10px;
}

.searchbtn:hover{
    color: #e7f6fd;
    background-color: #3882a5;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.menu{
    position: relative;
}

.menubtn{
    font-family: 'Product-Sans-R';
    font-size: 22px;
    cursor: pointer;
    color: #205678;
    background: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
  
.menudrpdwn{
    display: none;
    position: absolute;
    background-color: #e7f6fd99;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    min-width: 140px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.menudrpdwn a{
    font-family: 'Product-Sans-R';
    color: #3882a5;
    font-size: 18px;
    text-decoration: none;
    display: block;
    margin: 15px;
    padding: 5px 10px;
    border-radius: 16px;
}
  
.menudrpdwn a:hover {
    background-color: #3882a5;
    color: #e7f6fd;
}
  
.menu:hover .menudrpdwn {
    display: block;
}

.menu:hover .menubtn{
    background-color: #3882a5;
    color: #e7f6fd;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.user{
    position: relative;
}

.userbtn{
    font-family: 'Product-Sans-R';
    font-size: 22px;
    cursor: pointer;
    color: #205678;
    background: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
  
.userdrpdwn{
    display: none;
    position: absolute;
    background-color: #e7f6fd99;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    min-width: 110px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.userdrpdwn a{
    font-family: 'Product-Sans-R';
    color: #3882a5;
    font-size: 18px;
    text-decoration: none;
    display: block;
    margin: 15px;
    padding: 5px 10px;
    border-radius: 16px;
}

.userdrpdwn input{
    font-family: 'Product-Sans-R';
    color: #3882a5;
    font-size: 18px;
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
}

.userdrpdwn input:hover{
    cursor: pointer;
    color: #e7f6fd;
}
  
.userdrpdwn a:hover {
    background-color: #3882a5;
    color: #e7f6fd;
}
  
.user:hover .userdrpdwn {
    display: block;
}

.user:hover .userbtn{
    background-color: #3882a5;
    color: #e7f6fd;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.headcu{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -500px;
}

.contact_us_bg{
    position: absolute;
    max-width: 1000px;
    min-width: 900px;
    height: auto;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #3882a515;
    border-radius: 30px;
}

.contact_us_img{
    max-width: 1000px;
    min-width: 900px;
    height: auto;
    border-radius: 30px;
}

.contact_us_form{
    position: relative;
    height: 450px;
    width: 350px;
    left: 40%;
    -ms-transform: translateX(-50%);
    -ms-transform: translateY(17%);
    transform: translateX(-50%);
    transform: translateY(17%);
    background-color: #3882a599;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 20px;
    z-index: 2;
}

.cu_form{
    position: absolute;
    margin-top: 40px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.cu_form input, .cu_form textarea{
    display: block;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Product-Sans-R';
    font-size: 20px;
    border: none;
    color: #205678;
    box-shadow: 2.5px 2.5px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 10px 20px;
    background-color: #e7f6fd;
}

.cu_form input:focus, .cu_form textarea:focus{
    color: #e7f6fd;
    background-color: #205678;
}

#form_message{
    resize: none;
    border-radius: 25px;
}

.cu_form input[type=submit]{
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #e7f6fd;
    margin-top: 50px;
}

.cu_form input[type=submit]:hover{
    background-color: #205678;
    color: #e7f6fd;
    cursor: pointer;
}