body{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 0px;
}

html{ 
    background: url(../Media/BG_2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: Product-Sans-R;
    src: url(../Font/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: Android;
    src: url(../Font/android.ttf);
}

@font-face {
    font-family: Avenir-Next;
    src: url(../Font/AvenirNext-UltraLight.ttf);
}

.head{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.nav{
    margin: 10px 50px 0px 50px;
}

.logo{
    height: 55px;
    float: left;
}

#logoimg{
    max-height: 100%;
    width: auto;
}

.navbtns{
    float: right;
    display: flex;
}

.search,.menu,.user{
    text-align: center;
    display: inline-block;
    margin: 6px 0px 0px 0px;
}

.searchbtn{
    font-family: 'Product-Sans-R';
    font-size: 22px;
    cursor: pointer;
    color: #205678;
    background: none;
    border: none;
    padding: 5px  10px;
}

.searchbtn:hover{
    color: #e7f6fd;
    background-color: #3882a5;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.menu{
    position: relative;
}

.menubtn{
    font-family: 'Product-Sans-R';
    font-size: 22px;
    cursor: pointer;
    color: #205678;
    background: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
  
.menudrpdwn{
    display: none;
    position: absolute;
    background-color: #e7f6fd99;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    min-width: 140px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.menudrpdwn a{
    font-family: 'Product-Sans-R';
    color: #3882a5;
    font-size: 18px;
    text-decoration: none;
    display: block;
    margin: 15px;
    padding: 5px 10px;
    border-radius: 16px;
}
  
.menudrpdwn a:hover {
    background-color: #3882a5;
    color: #e7f6fd;
}
  
.menu:hover .menudrpdwn {
    display: block;
}

.menu:hover .menubtn{
    background-color: #3882a5;
    color: #e7f6fd;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.user{
    position: relative;
}

.userbtn{
    font-family: 'Product-Sans-R';
    font-size: 22px;
    cursor: pointer;
    color: #205678;
    background: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
  
.userdrpdwn{
    display: none;
    position: absolute;
    background-color: #e7f6fd99;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    min-width: 110px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.userdrpdwn a{
    font-family: 'Product-Sans-R';
    color: #3882a5;
    font-size: 18px;
    text-decoration: none;
    display: block;
    margin: 15px;
    padding: 5px 10px;
    border-radius: 16px;
}

.userdrpdwn input{
    font-family: 'Product-Sans-R';
    color: #3882a5;
    font-size: 18px;
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
}

.userdrpdwn input:hover{
    cursor: pointer;
    color: #e7f6fd;
}
  
.userdrpdwn a:hover {
    background-color: #3882a5;
    color: #e7f6fd;
}
  
.user:hover .userdrpdwn {
    display: block;
}

.user:hover .userbtn{
    background-color: #3882a5;
    color: #e7f6fd;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.psudo_head_help{
    width: 100%;
    height: 100%;
}

.head_help{
    padding: 75px 50px 100px 50px;
}

.help_heading{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#help_head{
    width: fit-content;
    height: auto;
    padding: 10px 20px 5px 20px;
    font-family: 'Android';
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    color: #205678;
    background-color: #e7f6fd99;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.06);
    border-radius: 10px;
}

.help_topics{
    margin: 30px 150px;
    padding: 20px;
}

.topics{
    margin-bottom: 50px;
    padding: 0px 40px;
    background-color: #e7f6fd75;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-family: 'Product-Sans-R';
    color: #205678;
    box-shadow: 0px 20px 20px 5px rgba(0,0,0,0.10);
    border-radius: 20px;
}

.left_head{
    float: left;
    font-size: 30px;
    padding-top: 1px;
    width: 850px;
}

.right_head{
    float: right;
    font-size: 30px;
}

.right_head:hover{
    cursor: default;
}

hr{
    margin: 0px;
    padding: 0px;
    border: 0;
    border-top: 2px solid #205678;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.05);
}

.tinfo_head{
    font-size: 20px;
    padding-bottom: 20px;
    display: none;
}

.tinfo{
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
}

#block_keywords{
    font-weight: bolder;
}